bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
MissilePredictor.API/appsettings.Development.json
MissilePredictor.API/appsettings.Development.json
MissilePredictor.API/appsettings.Production.json
MissilePredictor.API/appsettings.Production.json
/.idea
MissilePredictor.API/tg.session
.env
tg.session
MissilePredictor.API/WTelegram.session
MissilePredictor.API/msg.json
MissilePredictor.API/data/credentials.json
MissilePredictor.API/data/training_state.json
MissilePredictor.API/data/msg.json
